<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/xzf1993/rrj/blob/master/BorrowMoney.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/xzf1993/rrj/blob/master/monkey.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.wangfanwifi.com/wangfanv20/image512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.borrow.www.RRJ</string>
				<key>CFBundleName</key>
				<string>365贷款王</string>
				<key>CFBundleShortVersionString</key>
				<string>1.0</string>
				<key>CFBundleVersion</key>
				<string>1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
